<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="tabulate.js"></script>
    <title>Document</title>
</head>
<body>
    {{data}}
    <div id="viz-container">
        <table id="player-summary">
        </table>
    </div>

    <script>
        fetch('/player-data').then(response => {
            if (!response.ok) {
                throw new Error("Network was not ok" + response.statusText)
            }
            return response.json();
        }).then(data => {
            console.log(data);
            table(data);
        });
    </script>
</body>
</html>